h1,
h3 {
  text-align: center;
}
.heading {
  text-align: center;
}
.content {
  background-color: cornflowerblue;
}
.contentbox {
  height: 400px;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: cornflowerblue;
}
.contenttext {
  margin: 20px;
  height: 250px;
  /* background-color: red; */
  width: 400px;
  border: 2px solid white;
  border-radius: 20px;
}
.footer {
  background-color: grey;
  text-align: center;
}
header {
  background-color: brown;
}
.middle {
  background-color: darkorange;
}
nav {
  display: flex;
  justify-content: flex-end;
}
button {
  width: 140px;
  padding: 10px;
  border-radius: 10px;
  background-color: blueviolet;
  cursor: pointer;
  margin: 10px;
  color: white;
}
.form-box {
}
